@import url('https://fonts.googleapis.com/css?family=Oxygen');

body, html {
	background-color: black;
	height: 100%;
	font-family: Oxygen, serif;
}

body {
	background: url("../images/background.jpg") no-repeat center fixed;
	background-size: cover;
}

/* Header */

.header {
	height: 20%;
}

.header .container {
	text-align: center;
	padding: 50px 0;
}

.container {
	color: #fff;
}

.hline {
	width: 60%;
	line-height: 1px;
	margin: auto;
	font-size: 1px;
	color: #fff;
}

/* Content */
.content {
	height: 60%;
}

.content .container {
	padding-top: 10%;
	padding-bottom: 10%;
}
.row {
	text-align: center;
	margin: auto;
}

.letter-box {
	border: 2px solid #fff;
	border-radius: 5px;
	display: inline-block;
	height: 70px;
	width: 70px;
	color: #fff;
	margin: 10px;
	padding: 0;
}

.letter-box-enhanced {
	border: 5px solid #ee4;
	border-radius: 5px;
	height: 70px;
	width: 70px;
	color: #fff;
}

/* Footer */
.footer .row {
	height: 20%;
	margin: 50px 0 0 0;
	padding: 0;
}

.copyright {
	text-align: left;
	color: #fff;
}

.git {
	text-align: right;
}